/* reset бокових відступів */
html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

/* забираємо обмеження ширини вікна у основного контейнера */
.main, .docs-main, .page__content {
    max-width: none !important;
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
    padding: 0 !important;
}