/* Full-width overrides for just-the-docs */
.main { margin: 0 !important; }

@media (min-width: 50rem) {
    .main {
        position: relative;
        max-width: none !important;
        width: 100% !important;
    }
}

.main-content-wrap { max-width: none !important; }

/* щоб контент не залазив на сайдбар */
@media (min-width: 64rem) {
    .side-bar + .main { margin-left: 15.5rem !important; }
}

/* підстраховка проти будь-яких контейнерів */
.container, .container-lg { max-width: none !important; }