---
---
$content-width: 100vw !default;
@import "just-the-docs";

/* Наш оверрайд */
@media (min-width: 50rem) {
  div.main#top {
    margin: 0 !important;
    max-width: none !important;
    width: 100vw !important;
  }
}
div.main#top {
  margin: 0 !important;
  max-width: none !important;
  width: 100vw !important;
}